@import url("normalize.css");

body {
  background-color: #fff;
  font: normal 16px 'Source Sans Pro', sans-serif, Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Oswald', sans-serif;
}

.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-title {
  font-size: 3.25rem;
  line-height: 3.20rem;
  text-align: center;
}

.app-subtitle {
  font-size: 1.50rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif, Arial;
}

.app-section__button {
  background-color: #3678ab;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.app-section--community {
  background-color: white;
  padding-bottom: 70px;
}

.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-section__hide--toggle {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  color: red;
  border-radius: 10px;
  padding: 15px;
  transition: all .5s;
  height: 20%;
  cursor: pointer;
}

.app-section__hide--toggle:hover {
  text-decoration: underline;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.app-section__users-container {
  display: flex;
  height: 400px;
  padding-top: 36px;
  gap: 20px;
}

.app-section__user {
  width: 315px;
  border-radius: 10px;
  transition: box-shadow 0.5s;
}

.app-section__user:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.app-section__user-avi {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 30px 80px 20px 80px;
}

.app-section__user-desc {
  height: 75px;
  color: #666666;
  line-height: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.app-section__user-name {
  font-size: 12px;
  font-weight: 700;
  color: #464547;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.app-section__user-pos {
  color: #666666;
  line-height: 16px;
  text-align: center;
}

.app-section--image-join {
  height: 436px;
  background: url(../assets/images/join-bg-photo.jpg) no-repeat center/cover;
  color: white;
}

.app-form {
  margin-top: 41px;
  flex-direction: row;
}

.app-form__email-input {
  all: unset;
  width: calc(1200px/3);
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, .15);
  font-weight: 400;
}

.app-section__button--subscribe {
  border-radius: 26px;
  font-size: 14px;
  height: 36px;
  width: 135px;
  letter-spacing: 1.2px;
  margin-left: 30px;
  text-transform: uppercase;
}